@charset "utf-8";
:root{
    --base-text-dark: #333;
    --base-text-white: #fff;
    --base-bg-white: white;
    --base-bg-dark: #efefef;
    --base-font-size: 16px;
    --bar-bg: #F18F01;
    --main-color1 : #00a0d2;
    --main-color2 : #90c320;
    --main-color3 : #004ea1;
}

body{
    font: 16px/1.5 "Noto Sans KR";
    background-color: green;
    color: var(--base-text-color);
}
.d-none{
    display: none;
}
a , a:hover{
    color: inherit;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
section{
    margin: 0 1rem;
}

@media screen and (max-width:480px){
    html{
        height: 100vh;
    }
    body{
        background: linear-gradient(to bottom, #fff,#eef5ff);
    }
    .header-top{
        background: #00a0d2;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .top-wrap{
        height: 40px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
    }
    .logo{
        width: 355px;
        height: 262px;
        margin: 0 auto;
        margin-top: 82px;
    }
    .logo2{
        text-align: center;
        margin-top: 32px;
    }
    .btns{
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }
    button{
        width: 200px;
        height: 60px;
        color: white;
        font-size: 24px;
        border: 0;
        border-radius: 30px;
        text-indent: 23px;
    }
    #make_game5{
        
        background: #90c320 url(../images/x5.png) no-repeat 5% center;
        margin-bottom: 66px;
    }
    #make_game1{
        
        background: #00a0d2 url(../images/x1.png) no-repeat 5% center;
    }
    footer{
        width: 100%;
        position: fixed;
        bottom: 3%;
        left: 0;
        
    }
    hr{
        border: 1px solid #004ea1;
        margin-top: 176px;
    }
    .a-wrap{
        display: flex;
        font-size: 14px;
        color: #004ea1;
        flex-direction: column;
        align-items: flex-end;
    }
    .a-wrap > a{
        margin-right: 10px;

    }
    .links{
        display: flex;
        width: 105px;
        justify-content: space-between;
        font-size: 14px;
        color: #004ea1;
        margin-right: 10px;   
        margin-bottom: 20px;
        margin-top: 10px;
    }
    /* side pannel */
    #sidePannel {
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 40px;
        left: 0;
        background: rgba(0, 0, 0, .5);
    }
    #closeSide{
        background-color:#00a0d2;
        color: var(--base-bg-white);
        width: 40px;
        height: 40px;
        position: absolute;
        text-align: center;
        line-height: 40px;
        right: 0;
        top: -40px;
    }
    .pannel-overlay{
        background: #262626;
        width: 50%;
        height: 1000%;
        margin: 0 0 0 50%;
        overflow: hidden;
    }
    .pannel-overlay nav{
        color: var(--base-bg-white);
        padding: 0 10%;
        
    }
    /* mobile section */
    .section-title{
        text-align: center;
        font-size: 1.25rem;
        margin: 0 0 1rem 0;
    }
    #snb > li {
        margin: 1rem 0;
        position: relative;
    }
    #snb > li::after{
        content: "+";
        display: inline;
        position: absolute;
        top: 0%;
        right: 10%;
        color: white;
        font-size: 14px;
    }
    #snb > li >a{
        display: block;
    }
    #burger-hr{
        border: 1px solid white;
    }
    .icon-links{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }
    
    /* login */
    #loginForm li, #registerForm li{
        position: relative;
        margin: 0 0 1.5rem 0;
    }
    #loginForm li input, #registerForm li input{
        text-indent: 25%;
        border: 0;
    }
    #loginForm li label, #registerForm li label { 
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: #898989;

    }
    #userId, #userPw, [type=submit]{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    }
    #loginForm li input[type=submit], #registerForm li input[type=submit] {
        background: var(--main-color1);
        color: var(--base-text-white);
        text-indent: 0
    }
    .sns-icons{
        display: flex;
        justify-content: center;
        column-gap: 2.2rem;
        font-size: 3rem;
        color: #004ea1;
        
    }
    /* register page */
    #registerForm li #userSecurity {
        width: 60%;
        height: 50px;
        border-radius: 10px;
        text-indent: 40%;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    }
    #registerForm li #clickSecurity { /* a : inline element */
        display: inline-block;
        line-height: 52px;
        vertical-align: middle;
        border-radius: 10px;
        height: 52px;
        width: 36%;
        text-indent: 26%;
        margin: 0 0 0 1%;
        color: var(--base-text-white);
        border: 1px solid var(--main-color2);
        background: var(--main-color2);
    }
    label[for=userPrivacy]{
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .warn {
        color: var(--base-text-point);
        position: absolute;
        right: 0;
    }
    
    /* mobile section : customer page */
    .icon-list {
        display: grid;
        margin: 0 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .icon-list li {
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, .2);
        min-height: 100px;
        border-radius: 10px;
        
    }
    .icon-list li:hover {
        background: #90c320;
        color: var(--base-text-white);
        /* transform: scale(1.2); */
        /* transition: all ease-in-out .2s; */
    }
    .icon-list li a{
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
   
}